#title {
    font-size: 1.70em;
    color: #9ccc9c;
    line-height: 75px;
    font-family: Noto Sans;
    order: 2;
}
img {
    height: 75px;
    width: 75px;
    margin-right: auto;
    order: 3;
}
body {
    background-image: url("background.jpg");
    background-size: cover;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    height: 75px;
    background-color: #149414;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: row-reverse;
}
footer {
    background-color: black;
    color: white;
    height: 30px;
    line-height: 30px;
    margin-top: auto;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    font-style: italic;
}
#navBar {
    display: flex;
    color: white;
    text-decoration: none;
    font-family: Roboto;    
    justify-content: flex-end;
    flex-grow: 1;
    margin: 10px;
}
.mainText {
    background-color:rgba(14,107,14,.8);
    font-size: 1.3em;
    color: white;
    border: 2px solid #9ccc9c;
    margin: auto;
    width: 50%;
    font-family: Roboto;
    border-radius: 15px;
    word-break: break-word;
    padding: 15px;
    margin-top: 5px;
    text-align: center;
}
.subTitle {
    background-color: rgba(14,107,14,.8);
    border: 2px solid #9ccc9c;
    font-size: 2em;
    text-align: center;
    color: white;
    margin: auto;
    width: 15%;
    font-family: Roboto;
    font-weight: bolder;
    border-radius: 15px;
    margin-top: 100px;
}
#temp{
    color: #149414;
}
/* Hacker Hex Code Colors Scheme
#149414 #0e6b0e #649568 #9ccc9c #2b5329 */
